<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">



  <a class="navbar-brand" href="#/admin">Dept 71</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav navbar-right mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#/parts">Parts</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#/user">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/view">View</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': highlightedWeek === 0}">
        <a class="btn_week nav-link" (click)="createSheet(-1);toggleHighlight(0);">Previous Week</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': highlightedWeek === 1}">
        <a class="btn_week nav-link" (click)="createSheet(0);toggleHighlight(1);">This Week</a></li>
      <li class="nav-item" [ngClass]="{'active': highlightedWeek === 2}">
        <a class="btn_week nav-link" (click)="createSheet(1);toggleHighlight(2);">Next Week</a>
      </li>
      <li class="active" ngbDropdown [hidden]="highlightedWeek === 2">
        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Copy To</a>
        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <button [hidden]="highlightedWeek === 1" class="dropdown-item" md-raised-button (click)="copySheet(0)">Next Week</button>
          <button class="dropdown-item" md-raised-button (click)="copySheet(1)">Future Week</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-inverse bg-inverse" style="position:fixed;width:100%">
  <div style="text-align:center;">
    <td style="width:5rem;font-weight:bold;color: white;">Name</td>
    <td class="custom-head-width">Monday</td>
    <td class="custom-head-width">Tuesday</td>
    <td class="custom-head-width">Wednesday</td>
    <td class="custom-head-width">Thursday</td>
    <td class="custom-head-width">Friday</td>
    <td class="custom-head-width">Saturday</td>
  </div>
</nav>
<div class="container-fluid" style="padding-top:3rem">

  <div class="row">
    <div class="col">
      <form [formGroup]="myForm" novalidate>
        <table class="table table-hover">
          <thead>
          </thead>
          <tbody formArrayName="addresses">
            <tr *ngFor="let address of myForm['controls']['addresses']['controls']; let i=index" [formGroupName]="i">
              <td class="td_button" [ngClass]="{'hide_button':myForm['controls']['addresses']['controls'].length < 1}">
                <a (click)="removeAddress(i,name.value);">
                  <i class="fa fa-times" aria-hidden="false"></i></a>
              </td>
              <td>
                <md-input-container style="width: 5rem;">
                  <input #name type="name" mdInput ngui-auto-complete placeholder="Name" type="text" [list-formatter]="autocompleListFormatter"
                    (valueChanged)="UserUpdate($event,name.value,i);" auto-complete [source]="users" match-formatted="true"
                    value-property-name="name" display-property-name="name" formControlName="name">
                </md-input-container>
              </td>
              <td class="td_button" [ngClass]="{'hide_button':i != myForm['controls']['addresses']['controls'].length-1}">
                <a (click)="addAddress();">
                  <i class="fa fa-plus" aria-hidden="false"></i></a>
              </td>
              <div formArrayName="days">
                <td *ngFor="let day of address['controls']['days']['controls']; let d=index">
                  <div formArrayName="{{d}}">
                    <div *ngFor="let part of day['controls']; let p=index" [formGroupName]="p">
                      <tr>
                        <td class="td_button_day" [ngClass]="{'hide_button':day['controls'].length <= 1}">
                          <a (click)="removePart(i,d,p);">
                            <i class="fa fa-times" aria-hidden="false"></i>
                          </a>
                        </td>
                        <td>
                          <md-input-container class="part_input">
                            <input type="text" mdInput placeholder="Part" #part ngui-auto-complete [source]="dashboard" [list-formatter]="autocompleListFormatter"
                              formControlName="part" value-property-name="name" display-property-name="name" match-formatted="true"
                              no-match-found-text=" " (valueChanged)="valueChanged($event,i,d,p);">
                          </md-input-container>
                        </td>
                        <td class="td_button_day" [ngClass]="{'hide_button':p != day['controls'].length-1}">
                          <a (click)="addPart(i,d);">
                            <i class="fa fa-plus" aria-hidden="false"></i>
                          </a>
                        </td>
                      </tr>
                    </div>
                  </div>
                </td>
              </div>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modelTitle}}</h4>
  </div>
  <div class="modal-body">
    <pre *ngFor="let s of message.split('\n')">{{s}}</pre>
  </div>
  <div class="modal-footer">
    <button md-raised-button class="btn btn-secondary" (click)="c('No')">No</button>
    <button md-raised-button class="btn btn-secondary" (click)="c('Yes')">Yes</button>
  </div>
</ng-template>
<button md-raised-button (click)="save(myForm.value,content)">Save</button>
<!--<div class="col-lg-12">
  <div>myForm details:-</div>
  <pre>form value: <br>{{myForm.value | json}}</pre>
</div>-->
